.container {
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.para{
  font-size: 0.875rem;          
  color:#ffffff;               
  background-color:#4f46e5;
  border-color: #000000;        
  margin-top: 1.25rem;         
  padding-left: 0.5rem;        
  padding-right: 0.5rem;       
  border-radius: 0.5rem;
  width: fit-content;
}